/*global*/
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
    color: white;
}
/*utilities*/
.text-center {
    text-align: center;
    text-transform: uppercase;
}
.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.underline {
    text-decoration: underline;
}
/*header*/
header{
    background-color: silver;
}
h1{
    color: rgb(141, 81, 3);
    font-size: 40px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-family: monospace;
    margin-bottom: 30px;
}
h2{
    color: rgb(141, 81, 3);
    font-size: 30px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-family: monospace;
    margin-bottom: 30px;  
}
h3{
    color: rgb(141, 81, 3);
    font-size: 25px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-family: monospace;
    margin-bottom: 30px;   
}
/*bio*/
h4{
    color: tan;
    font-size: 30px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-family: monospace;
    margin-left: 50px;
    margin-bottom: 25px;
}
h5{ 
    color: tan;
    font-size: 25px;
    letter-spacing: 2.5px;
    font-family: monospace;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}
h6{
    color: tan;
    font-size: 25px;
    letter-spacing: 2.5px;
    font-family: monospace;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}
p1{
    color: darkgrey;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20;  
}
p2{
    color: darkgray;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20;
}
/*list*/
ul,ol{
    margin-left: 20px;
    background-color: grey;
    padding: 10px;
}
ul li{
    margin: 10px;
    background-color: blue;
    border: 1px solid black;
    padding: 20px;
}
ol.techs li{
    background-color: aquamarine;
    margin: 10px;
}
ol.projects{
    background-color: #ffcc00
}
ol.projects li{
    background-color: #ffdd53;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;

}